.main {
    padding: 0 10px 0 30px;
}

.content {
    display: grid;
    gap: 20px;
}

h1 {
    margin: 0 0 10px 0;
}

strong {
    font-size: 1.1em;
    color: #2c3e50;
    grid-column: 1;
    text-align: right;
}

p {
    font-size: 1em;
    font-weight: 500;
    line-height: 10px;
}

.details {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    grid-column: 1;
}

.details-actions {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.opcoes {
    text-align: center;
}

button {
    width: 97.5%;
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: 2;
}

.btn-danger {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #3498db;
}

.filiais-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

@media (max-width: 768px) {

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
        font-weight: 500;
        line-height: 15px;
    }

    button {
        font-size: 0.8em;
    }
}