<div class="password-container">
    <h2 class="titulo">Atenção!</h2>
    <h3 class="subtitle">Digite sua senha</h3>
    <p class="message">Parece que você logou há um tempo. Precisa validar suas credenciais novamente.</p>
    
    <mat-form-field class="password-field">
      <input matInput type="password" [(ngModel)]="password" placeholder="Senha" />
    </mat-form-field>
  
    <div class="dialog-actions">
      <button mat-button (click)="confirm()">Confirmar</button>
      <button mat-button (click)="cancel()">Cancelar</button>
    </div>
  </div>
  