<div class="user-management-container">
    <h2>Gerenciamento de Usuários</h2>

    <!-- Formulário de criação e edição -->
    <div class="user-form">
        <h3>{{ isEditing ? 'Editar Usuário' : 'Criar Novo Usuário' }}</h3>
        <form [formGroup]="userForm" (ngSubmit)="isEditing ? updateUser() : createUser()">
            <label for="id">Código</label>
            <input type="text" id="id" formControlName="id" name="id" required>

            <label for="nome">Nome</label>
            <input type="text" id="nome" formControlName="nome" name="nome" required>

            <label for="email">E-mail</label>
            <input type="email" id="email" formControlName="email" name="email" required>

            <label for="email">Contato</label>
            <input type="text" id="contato" formControlName="nome" name="contato" required>

            <label for="user">Usuário</label>
            <input type="text" id="user" formControlName="user" name="user" required>

            <label for="password">Senha</label>
            <input type="password" id="password" formControlName="password" name="password" required>

            <label for="regra">Função</label>
            <select id="regra" formControlName="regra" name="regra" required>
                <option value="admin">Administrador</option>
                <option value="coordenador">Coordenador</option>
                <option value="supervisor">Supervisor</option>
                <option value="analista">Analista</option>
            </select>

            <button type="submit">{{ isEditing ? 'Atualizar' : 'Criar' }} Usuário</button>
            <button type="button" (click)="cancelEdit()">Cancelar</button>
        </form>
    </div>

    <div class="user-list" >
        <h2>Usuários Cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Nome</th>
                    <th>Regra</th>
                    <th>Email</th>
                    <th>Contato</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.user }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.regra }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.contato }}</td>
                    <td>
                        <a (click)="editUser(usuario)" >Editar</a>
                        <a (click)="deleteUser(usuario.id)" >Excluír</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>