.main {
    padding: 0 10px 0 30px;
}

h1 {
    margin: 0 0 10px 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 1.1em;
    color: #2c3e50;
    grid-column: 1;
    text-align: right;
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #7f8c8d;
    grid-column: 2;
}


select {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #7f8c8d;
    grid-column: 2;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 97.5%;
    background-color: #2980b9;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3498db;
}

@media (max-width: 768px) {
    
    .form-container{
        width: 100%;
    }
    
    h1{
        font-size: 1em;
    }

    label {
        font-size: 0.8em;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8em;
    color: #7f8c8d;
    grid-column: 2;
    }

    textarea {
        height: 50px;
    }

    button {
        font-size: 0.8em;
    }
}