<div class="sidebar" [class.collapsed]="isCollapsed">
  <!-- Botão de menu -->
  <button class="menu-toggle-btn" (click)="toggleSidebar()">
    <i class="menu-icon">☰</i>
  </button>
  <!-- Conteúdo do menu -->
  <div class="menu-content">
    <h1>
      <a href="/empresas" style="cursor: pointer;">RegulaSis</a>
    </h1>
    <ul>
      <li><a href="/empresas">Home</a></li>
      <li><a href="/empresas">Empresas</a></li>
      <li><a href="/usuarios">Gerenciar Usuários</a>

    </ul>
  </div>

  <div class="user">
    <p>Olá, {{ userName }}!</p>
    <button (click)="logout()">Logout</button>
  </div>

</div>