<div class="main">

    <section class="form-container">
        <h1>Editar empresa</h1>
        <form [formGroup]="empresaForm" (ngSubmit)="editarEmpresa()">
            <!-- Dados Básicos da Empresa -->
            <label for="idEmpresa">ID</label>
            <input type="text" id="id" formControlName="id" required>

            <label for="nomeEmpresa">Nome</label>
            <input type="text" id="nome" formControlName="nome" required>

            <label for="nomeFantasia">Nome Fantasia</label>
            <input type="text" id="nomeFantasia" formControlName="nomeFantasia">

            <label for="cnpj">CNPJ</label>
            <input type="text" id="cnpj" formControlName="cnpj" required>

            <label for="enderecoSede">Endereço</label>
            <input type="text" id="enderecoSede" formControlName="enderecoSede" required>

            <label for="nomeResponsavel">Responsável</label>
            <input type="text" id="nomeResponsavel" formControlName="nomeResponsavel" required>

            <label for="contatoResponsavel">Contato Responsável</label>
            <input type="text" id="contatoResponsavel" formControlName="contatoResponsavel" >

            <label for="emailResponsavel">Email Responsável</label>
            <input type="email" id="emailResponsavel" formControlName="emailResponsavel" required>

            <!-- Setor da Empresa -->
            <label for="setor">Setor</label>
            <select id="setor" formControlName="setor" required>
                <option value="residencial">residencial</option>
                <option value="comercial">comercial</option>
                <option value="industrial">Industrial</option>
                <option value="outro">Outro</option>
            </select>

            <!-- Observações -->
            <label for="observacoes">Observações</label>
            <textarea id="observacoes" formControlName="observacoes"></textarea>
            <label for="tipo">Tipo:</label>
            <div>
                <label>
                    <input type="radio" id="tipo" formControlName="tipo" value="sede" (change)="toggleDropdown()">
                    Sede
                </label><br>
                <label>
                    <input type="radio" id="tipo" formControlName="tipo" value="filial" (change)="toggleDropdown()">
                    Filial
                </label><br>
            </div>

            <div *ngIf="showDropdown">
                <label for="" style="label {font-size: 1.1em; color: #2c3e50; grid-column: 1; text-align: right;}">
                    Empresa sede:
                </label>
            </div>

            <div *ngIf="showDropdown">
                <label for="idEmpresaSede"></label>
                <select id="idEmpresaSede" formControlName="idEmpresaSede">
                    <option *ngFor="let empresa of empresas" [value]="empresa.id">
                        {{ empresa.nome }}
                    </option>
                </select>
            </div>
            <div class="form-actions">
                <button class="btn btn-secondary" type="button" (click)="voltar()">Cancelar</button>
            </div>
            <button type="submit">Editar Empresa</button>
        </form>
    </section>

</div>